/*


*/
.seamless-box{
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  background-color:#e9faff;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-top: .7rem;
}
.seamless-box span.iconfont.icon-gonggao{
  color: #00a0ea;
  margin-left: .75rem;
}
.sea{
  width: 88%;
  border-radius: 20px;
  font-size: .6rem;
  color: #00a0ea;
}
.sea p{
  width: 95%;
  color: #00a0ea;
  margin: 0;
  font-size: .6rem;
}
.aui-bg{
  height: 7px;
  background-color: #eee;
}

.sortBox>div{
  position: relative;
  padding: 0 5px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.sortBox>div:active{
  opacity: .8;
}

.sortBox>div input{
  margin-left: 5px;

}
.sort-layer{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding:0 5px;
}
.layer-box{
  background: rgba(0,0,0,.3);
  color: #fff;
  height: 2rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.layer-box h1{
  font-weight: normal;
  color: #fff;
  font-size: .7rem;
  padding-top: .16rem;
  line-height: normal;
  padding-left: .18rem
}
.layer-box p{
  color: #fff;
  padding-left: .18rem;
  font-size: .6rem;
  /*line-height: .8rem;*/
  margin: 0;
}
.layer-box p span{
  padding-right: .22rem;
}
.sortBox>div img{
  display: block;
  height: 4.8rem;
  width: 100%;
  border-radius: 3px;
}
.searchH span{
  display: inline-block;
  border: 1px solid #999;
  border-radius: 20px;
  padding: .2rem .5rem;
  margin-right: .2rem;
  margin-bottom: .5rem;
  color: #666;
  font-size: .7rem;
}
.searchH span:active{
  background-color: #efefef;
}
.login-box{
  position: relative;
  margin-top: 1rem;
  margin-bottom: .5rem;
}
.login-box span{
  position: absolute;
  right: 5%;
  font-size: .7rem;
  color: #999;
}
.login-box img{
  display: block;
  margin: 0 auto;
  width: 2.1rem;
  margin-top: 3rem;
}
.tips{
  margin-top: -.5rem;
  padding-left: .9rem;
  font-size: .6rem;
  margin-bottom: 1.5rem;
}
.RL_box{
  padding: 0 .9rem;
  margin-top: .5rem;
  overflow: hidden;
}
.RL_box a{
  font-size: .6rem;
  color: #00a0ea;
}
.three_login{
  text-align: center;
  margin-top: 1rem;
}
.three_bt{
  font-size: .6rem;
  background: url(../image/dot.png) repeat-x center center;
  margin-bottom: .5rem;
}
.three_bt span{
  background-color: #fff;
  color: #999;
  padding: 0 5px;
}
.three_login .aui-row>div img{
  width: 50%;
  margin: 0 auto;
}
.del{
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  display: none;
}
.del a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  float: left;
  border: 0;
  outline: none;
  border-radius: 0;
  height: 2.5rem;
  color: #333;
  background-color: #ccc;
  position: relative;
}
.del a:first-child{
  background-color: #00a0ea;
  color: #fff;
}
.del a:active{
  opacity: .8;
}
.del a input{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.labelas{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 5px;
}
.emty{
  font-size: .9rem;
  margin-top: 1.5rem;
  text-align: center;

}
.wc{
  background-color: #00a0ea;
  border-radius: 100%;
  height: 1.75rem;
  width: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 3rem;
  font-size: .6rem;
  z-index: 100;
  display: none;
}
.chec{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
.info-bt{
  text-align: center;
  padding: 1rem 0 .5rem 0;
}
.info-bt h1{
  font-size: .9rem;
  font-weight: normal;
  line-height: 1.5rem;
}
.info-bt p{
  font-size: .7rem;
  color: #999;
}
.info-content{
  padding: 0 9px;
}
.info-content h3{
  font-size: .6rem;
  color: #666;
  margin: .1rem 0 .5rem 0;
}
.info-content p{
  font-size: .6rem;
  color: #666;
  text-indent: 1.2rem;
  line-height: 2;
}
.tabcon{
  position: relative;
}
.tabcon>div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
.gz>a{
  width: 100%;
  background-color: none;
}
.bg_box{
    height: 4.5rem;
    background: #00a0ea;
    overflow: hidden;
}
.set-list{
  background: #eee;
}
.yzm{
  position: absolute;
  top: .2rem;
  right: 0;
  width: 30%;
  z-index: 1000;
  line-height: 2.2rem;
}
.yzm input{
  font-size: .6rem;
  color: #333;
  text-align: center;
  background: #fff;
}
.card{
  background-color: #fff;
  box-shadow: 0 0px 1px #ddd;
  margin: .225rem;
  overflow: hidden;
  border-radius: 3px;
}
.card .card-header:active{
  background-color: #efefef;
}
.card .card-header{
  padding-top: .6rem;
}
.card img{
  display: block;
  width: 3.65rem;
  height: 3.65rem;
  margin: 0 auto .225rem auto;;
  border-radius: 100%;

}
.card-body{
  padding-bottom: .225rem;
}

.card-body h3{
  font-size: .8rem;
  line-height: 1.5rem;
}
.card-body p{
  font-size: .7rem;
}
.card-footer{
  font-size: .7rem;
  box-shadow: 0 -.5px 0px #ddd;
  height: 1.7rem;
  line-height: 1.7rem;
  color: #00a0ea;
}
.video{
  min-height: 10rem;
  background-color: red;
}
.course-bt{
  display: flex;
 justify-content: space-between;
 line-height: 2rem;
 position: relative;
 color: #606c71;
}
.course-bt h3{
  font-size: .9rem;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.course-bt span{
  color: #ffa304;
}
.course-bt span i{
  font-size: .6rem;
  font-style: normal;
}
.teacher-info{
  font-size: .7rem;
  position: relative;
  padding-bottom: .45rem;
}
.teacher-info span{
  color: #999;
}
.teacher-info:after {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
    bottom: -1px;
}
.course-bt:before{
  position: absolute;
  right: 0;
  left: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #c8c7cc;
  top: -1px;
}
.course-con{
  padding: .45rem 0;
}
.course-con h3{
  font-size: .7rem;
  font-weight: normal;
  line-height: 1.5rem;
}
.course-con p{
  margin: 0;
  font-size: .7rem;
  text-indent: 1.4rem;
  line-height: 1.3rem;
  color: #999;
}

.plbox{

}
.pl-list{
  position: relative;
  padding:.1rem  0;
}
.pl-list:after {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
    top: -1px;
}
.pj-content{
  font-size: .6rem;
  color: #666;
  padding: .35rem 0;
}
.more{
  font-size: .6rem;
  color: #999;
  text-align: center;
}
.more i{
  font-size: .5rem;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.postBtn{
  height: 2.5rem;
}
.postBtn{
  border: 0;
  background: none;

}
.m_tea{
	height: 245px;
	min-height: 245px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.tea_bg{
	position: absolute;
	z-index: 1;
}
.tea_bg{
	width: 100%;
	height: 100%;
	-webkit-filter: blur(20px); /* Chrome, Opera */
	filter: blur(20px);
}
.m_t_img{
	width: 85px;
	height: 85px;
	margin: 0 auto;
	background: rgba(0,0,0,.5);
	border-radius: 100%;
	margin-top: 44px;
	position: relative;
	z-index: 10;
	overflow: hidden;
}
.m_t_img img{
	width: 79px;
	height: 79px;
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	margin-top: 3px;
	border: 2px solid #fff;
}
.m_t_name{
	width: 100%;
	text-align: center;
	position: relative;
    z-index: 10;
    background: rgba(0,0,0,0);
}
.m_t_name h3{
	margin: 0;
	font-weight: normal;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
}
.m_t_name p{
	color: #fff;
	margin: 0;
	font-size: 14px;
}
.m_t_name p:last-child{
	font-size: 12px;
}
.m_t_btn{
	width: 70%;
	position: absolute;
	bottom: 8px;
	left: 15%;
	z-index: 10;
	  display: flex;
  justify-content: space-between;
}
.m_t_btn a{
	border: 1px solid #fff;
	border-radius: 20px;
	height: 30px;
	text-align: center;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46%;
	font-size: 16px;
}
.m_t_btn a:active{
	background: rgba(0,0,0,.3);
}
.m_t_btn a span{
	margin-left: -8px;
	margin-right: 2px;
}
.m_t_btn a:last-child span{
	margin-left: -5px;
	margin-right: 5px;
}
.scname{
	background: #fff;
	padding:10px 8px 10px 8px;
	margin-bottom: 8px;
}
.scname h3{
	font-size: 16px;
	margin: 0;
	line-height: normal;
      padding-top: 10px;
}
.scname p{
	color: #999;
	font-size: 14px;
	margin: 0;
	text-indent: 28px;
}
.sc_gr_info{
	padding-bottom: 20px;
  padding-top: 0;
}
.sc_gr_info h4{
	font-size: 16px;
	margin: 0;
	padding-bottom: 12px;
	margin-top: 5px;
}
.m_bg{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.ms_x>div.aui-row>div{
	font-size: 14px;
	text-align: center;
	font-weight: bold;
  padding: 8px 0;
}
.ms_x>div.aui-row>div:active{
  background-color: #efefef;
}
.ms_x>div.aui-row>div img{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}
.ms_x>div.aui-row>div p{
	text-align: center;
	text-indent: 0;
}
.gzs_box{
	position: relative;
	padding: 10px;
}
.gzs_box:active{
  background-color: #efefef;
}
.gzs_box h4{
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
}
.gzs_box h3{
	font-size: 16px;
	font-weight: normal;
  color: #666;
}
.gzs_box p{
	font-size: 12px;
	color: #999;
	text-indent: 0;
}
.gzs_box span{
	position: absolute;
	right: 0;
	top: 28%;
	font-size: 18px;
  color: #999;
}
.gzs_box:after{
	position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
    bottom:0px;
}
.st_bj{
	position: fixed;
	bottom: 30%;
	right: 10px;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	color: #fff;
	background: #00a0ea;
	box-shadow: 0 0 30px #00a0ea;
	text-align: center;
	z-index: 10000;
}

.st_bj p{
	margin: 0 auto;
	margin-bottom: 3px;
}
.st_bj p span{
	color: #fff;
	font-size: 2rem;
	text-align: center;
	display: block;
}
.comment{
	padding: 10px;
	background: #fff;
}
.comment .bt{
	font-size: 18px;
	padding-bottom: 10px;
}
.com_list{
	padding: 15px 0;
}
.com_img{
	overflow: hidden;
}
.com_img img{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border:1px solid #3db7ef;
}
.nameTime{
	height: 30px;
	margin-left: 5px;
}
.nameTime span{
	display: block;
	line-height: 16px;
	font-size: 14px;
}
.nameTime span:last-child{
	line-height: 15px;
	font-size: 12px;
	color: #999999;
}
.com_box{

}
.com_xq {
	font-size: 14px;
	padding: 7px 0;
}
.com_list{
	position: relative;
}
.com_list:before{
	position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
    top: -1px;
}
.bj_box{
	position: fixed;
	bottom: 0px;
	width: 100%;

	min-height: 200px;
	background: #fff;
	border-top: 1px solid #06bafa;
	display: none;
	z-index: 1000;
}
.bj_box textarea{
	font-family: "微软雅黑";
  overflow-y: auto;
}
.bj_box .bt{
	color: #333;
	line-height: 50px;
	padding:0 10px;
	font-size: 16px;
}
.bj_box .bt button{
	padding: 0;
	border: 0;
  line-height: 38px;
  margin-top: 6px;
  font-size: 16px;
  float: right;
  padding: 0 10px;
}
    .px{
      position: fixed;
      top: 100px;
      width: 100%;
      z-index: 10;
      height: 50px;
      overflow: hidden;
      background: rgba(0,0,0,.5);
      display: none;
     }
     .px_box{
       overflow: hidden;
     }
     .px h3{
      font-size: 20px;
      color: #ffd200;
      text-align: center;
      margin: 0;
      height: 50px;
      line-height: 50px;
      margin: 0 10px 0px 10px;
      float: left;
      width: 50px;
     }
     .px p{
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #ffd200;
      text-align: center;
      float: left;
      margin: 0 10px 0 10px;
    }
    .px span{
      font-size: 16px;
      color: #fff;
      float: right;
      margin-right: 20px;
      height:50px;
      line-height: 50px;
    }
     .px ul {
      padding-left: 0;
      overflow: hidden;
      width: 50%;
      float: left;
      margin-top: 10px;
     }
     .px ul li {
       float: left;
       list-style: none;
        width: 20%;
     }
     .px ul li a {
      margin: 0 auto;
      text-align: center;
       display: block;
       color: #fff;
       width: 28px;
       font-size: 12px;
       /*height: 26px;*/
       padding-top: 30px;
       background: url(../image/star_on.png) no-repeat;
       background-size:100% ;
     }
     .px ul li.light a {
     background: url(../image/star.png) no-repeat;
      background-size:100% ;
     }
    .add_video{
      display: block;
      height: 4.8rem;

      width: 100%;
      border-radius: 3px;
      text-align: center;
      color: #999;
      font-size: 14px;
      border: 1px solid #999;
    }
    .add_video:active{
      color: #333;
      border-color: #333;

    }
    .add_video i{
      font-size: 20px;
        display: block;
      margin-top: 1rem;
    }
